/* stylesheet */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.main-container {
  border: 3px solid #dfe1e6;
  margin: 30px 20px 0 20px;
  box-shadow: 5px 5px #dfe1e6;
}

.list-head {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

hr {
  height: 1px;
  background-color: #dfe1e6;
  border: none;
  margin: 0;
}

form {
  display: flex;
}

.fa-level-down-alt {
  font-size: 20px;
  color: rgba(5, 5, 5, 0.507);
}

.form-input {
  font-style: italic;
  padding: 10px;
  border: none;
  width: 90%;
  outline: none;
}

.main-heading {
  font-weight: 100;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.877);
}

.fa-sync-alt {
  margin-top: 17px;
  margin-right: 10px;
  color: rgba(5, 5, 5, 0.507);
}

ul {
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.list-item {
  display: flex;
  gap: 10px;
  padding-left: 0;
}

.list-input {
  margin-top: 5px;
  transform: scale(1.3);
}

.item-details {
  margin-top: 0;
  width: 300px;
  border: none;
  resize: none;
  outline: none;
}

.fa-trash-alt {
  display: none;
  margin-left: 150px;
  color: rgba(73, 73, 73, 0.726);
}

.fa-square {
  font-size: 18px;
  margin-top: 18px;
  color: rgb(73, 73, 73);
}

.clear {
  font-size: 18px;
  border: none;
  color: rgb(87, 80, 80);
  background-color: #80808048;
  padding: 30px 0;
  width: 100%;
  cursor: pointer;
}

@media screen and (min-width: 772px) {
  .main-container {
    margin: 30px 30vw 0 30vw;
  }
}
